.navlink {
    display: flex;
    justify-content: flex-end;
}

.navlink p {
    text-decoration: underline;
    margin: 1.5rem;
    font-size: 1.5rem;
}

.route:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .15s ease-in;
}