.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-text1,
.entry-text2,
.desc-text {
  font-size: 1.5rem;
  color: white;
  margin: 5px 0px;
  text-align: center;
}

.entry-text2 {
  font-size: 3rem;
}

.desc-text {
  color: black;
}

.face-detect-form {
  width: 800px;
  min-height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 30px auto 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffbb11;
  background-image: url("./hexagon.png");
  background-size: 300px;
  padding: 0px 10px
}

button {
  background-color: #a463f2;
}

.face-detect-form input {
  background-color: white;
  width: 600px;
  color: black;
}

.face-detect-form input:hover,
.face-detect-form input:focus {
  background-color: white;
}

@media screen and (max-width: 900px) {
  .face-detect-form {
    width: 90%;
  }
}

.detected-image img {
  width: 100%;
  height: 100%;
}


.detected-image {
  position: relative;
}
